<div class="container mt-5">
  <h2>Usuarios</h2>
  <hr />

  <button class="btn btn-sm btn-primary" routerLink="/users/create">
    <i class="fa fa-plus"></i>
    Nuevo usuario
  </button>

  <button
    type="button"
    class="btn btn-sm btn-primary ms-2"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
  >
    Filtrar
  </button>

  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="well well-lg card card-block card-header mt-3 mb-3">
      <form [formGroup]="userForms">
        <div class="row g-3">
          <div class="col-md-8">
            <label for="name" class="form-label">Nombre</label>
            <input
              id="name"
              type="text"
              class="form-control"
              [class.is-invalid]="userForms.get('nome')?.errors && userForms.get('nome')?.touched"
              placeholder="Introduzca el nombre del usuario"
              formControlName="nome"
            />
            @if (userForms.get('nome')?.hasError('maxlength')) {
              <div class="invalid-feedback">El nombre debe tener al máximo 250 caracteres.</div>
            }
          </div>

          <div class="col-md-4">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              id="email"
              type="email"
              class="form-control"
              [class.is-invalid]="userForms.get('email')?.errors && userForms.get('email')?.touched"
              placeholder="Introduzca el correo electrónico del usuario"
              formControlName="email"
            />
            @if (userForms.get('email')?.hasError('maxlength')) {
              <div class="invalid-feedback">El correo electrónico debe tener al máximo 250 caracteres.</div>
            }
            @if (userForms.get('email')?.hasError('email')) {
              <div class="invalid-feedback">El correo electrónico no es valido.</div>
            }
          </div>

          <div class="col-md-12 d-flex flex-column justify-content-end">
            <div class="row">
              <div class="col-md-3">
                <div class="form-check">
                  <input
                    id="isAdmin"
                    class="form-check-input"
                    type="checkbox"
                    formControlName="isAdmin"
                  />
                  <label for="isAdmin" class="form-check-label">
                    Administrador
                  </label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-check">
                  <input
                    id="isActive"
                    class="form-check-input"
                    type="checkbox"
                    formControlName="ativo"
                  />
                  <label for="isActive" class="form-check-label">
                    Ativo
                  </label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-check">
                  <input
                    id="isNotAdmin"
                    class="form-check-input"
                    type="checkbox"
                    formControlName="isNotAdmin"
                  />
                  <label for="isNotAdmin" class="form-check-label">
                    No es Administrador
                  </label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-check">
                  <input
                    id="isNotActive"
                    class="form-check-input"
                    type="checkbox"
                    formControlName="inativo"
                  />
                  <label for="isNotActive" class="form-check-label">
                    Inactivo
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <button
              class="btn btn-success"
              (click)="filterUsers()"
            >
              Filtrar
            </button>

            <button
              class="btn btn-primary ms-2"
              (click)="undoFilter()"
            >
              Deshacer filtro
            </button>
          </div>
        </div>
  </form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>Administrador</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <tr>
            <td>
              <button class="btn btn-sm btn-primary" (click)="changeOrDeleteUser(user)">
                <i class="fa fa-search"></i>
              </button>
            </td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>{{user.isAdmin ? 'Si' : 'No'}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination?.totalItems!"
    [itemsPerPage]="pagination?.itemsPerPage!"
    [maxSize]="10"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
    </pagination>
  </div>
</div>
