<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="#">BookLoan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loan">Préstamos</a>
      </li>
    </ul>
  </div>
</nav>
