<div class="card mb-2">
  <div class="card-body">
    <h5>{{book?.livroNome}}</h5>
    <p>
      <b>Autor: </b> {{book?.livroAutor}} <br />
      <b>Editora: </b> {{book?.livroEditora}} <br />
      <b>Edición: </b> {{book?.livroEdicao}}<br />
    </p>

    <div class="text-end">
      @if (showAdd) {
        <button (click)="addOrRemoveBook()" class="btn btn-success"><i class="fa fa-plus"></i></button>
      }
      @if (showTrash) {
        <button (click)="addOrRemoveBook()" class="btn btn-danger"><i class="fa fa-trash"></i></button>
      }
    </div>
  </div>
</div>
