<div class="card mb-2">
  <div class="card-body">
    <h5>{{client?.cliNome}}</h5>
    <p>
      <b>NIE/DNI: </b> {{client?.cliCPF}} <br />
      <b>Ubicación: </b>
      {{
        client?.cliEndereco +
        ', barrio ' +
        client?.cliBairro +
        ', ciudad ' +
        client?.cliCidade +
        ', numero ' +
        client?.cliNumero
      }} <br />
      <b>Teléfono Móvil: </b> {{client?.cliTelefoneCelular}}<br />
      <b>Teléfono Fijo: </b> {{client?.cliTelefoneFixo}}<br />
    </p>
    <div class="text-end">
      @if(showTrash) {
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      }
      @if(showAdd) {
        <button class="btn btn-success"><i class="fa fa-plus"></i></button>
      }
    </div>
  </div>
</div>
