<div class="container mt-5">
  <h2>{{ book ? 'Alterar libro' : 'Nuevo libro' }}</h2>
  <hr />

  <form [formGroup]="bookForms">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="name" class="form-label">Nombre</label>
        <input
          id="name"
          type="text"
          class="form-control"
          placeholder="Introduzca el nombre del libro"
          formControlName="livroNome"
          [class.is-invalid]="
            bookForms.get('livroNome')?.errors &&
            bookForms.get('livroNome')?.touched
          "
        />
        <div class="invalid-feedback">
          @if (bookForms.get('livroNome')?.hasError('required')) {
            El nombre del libro es obligatorio.
          }
        </div>
        <div class="invalid-feedback">
          @if (bookForms.get('livroNome')?.hasError('maxlength')) {
            El nombre del libro no puede tener mas que 50 caracteres.
          }
        </div>
      </div>
      <div class="col-md-8">
        <label for="autor" class="form-label">Autor</label>
        <input
          id="autor"
          type="text"
          class="form-control"
          placeholder="Introduzca el nombre del autor"
          formControlName="livroAutor"
          [class.is-invalid]="
            bookForms.get('livroAutor')?.errors &&
            bookForms.get('livroAutor')?.touched
          "
        />
        <div class="invalid-feedback">
          @if (bookForms.get('livroAutor')?.hasError('required')) {
            El nombre del autor es obligatorio.
          }
        </div>
        <div class="invalid-feedback">
          @if (bookForms.get('livroAutor')?.hasError('maxlength')) {
            El nombre del autor no puede tener mas que 200 caracteres.
          }
        </div>
      </div>

      <div class="col-md-6">
        <label for="publisher" class="form-label">Editora</label>
        <input
          id="publisher"
          type="text"
          class="form-control"
          placeholder="Introduzca el nombre de la editora"
          formControlName="livroEditora"
          [class.is-invalid]="
            bookForms.get('livroEditora')?.errors &&
            bookForms.get('livroEditora')?.touched
          "
        />
        <div class="invalid-feedback">
          @if (bookForms.get('livroEditora')?.hasError('required')) {
            La editora del libro es obligatoria.
          }
        </div>
        <div class="invalid-feedback">
          @if (bookForms.get('livroEditora')?.hasError('maxlength')) {
            La editora del libro no puede tener mas que 50 caracteres.
          }
        </div>
      </div>

      <div class="col-md-4">
        <label for="publicationYear" class="form-label">Fecha de publicación</label>
        <input
          id="publicationYear"
          type="date"
          class="form-control"
          formControlName="livroAnoPublicacao"
          [class.is-invalid]="
            bookForms.get('livroAnoPublicacao')?.errors &&
            bookForms.get('livroAnoPublicacao')?.touched
          "
        />
        <div class="invalid-feedback">
          @if (bookForms.get('livroAnoPublicacao')?.hasError('required')) {
            La fecha de publicación es obligatoria.
          }
        </div>
      </div>

      <div class="col-md-2">
        <label for="bookEdition" class="form-label">Edición del libro</label>
        <input
          id="bookEdition"
          type="text"
          class="form-control"
          placeholder="Edición"
          formControlName="livroEdicao"
          [class.is-invalid]="
            bookForms.get('livroEdicao')?.errors &&
            bookForms.get('livroEdicao')?.touched
          "
        />
        <div class="invalid-feedback">
          @if (bookForms.get('livroEdicao')?.hasError('required')) {
            La edición del libro es obligatoria.
          }
        </div>
        <div class="invalid-feedback">
          @if (bookForms.get('livroEdicao')?.hasError('maxlength')) {
            La edición del libro no puede tener mas que 50 caracteres.
          }
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <button
          class="btn btn-success"
          [disabled]="!bookForms.valid"
          (click)="book ? changeBook() : includeBook()"
        >
          {{ book ? 'Alterar' : 'Incluir' }}
        </button>
      </div>
    </div>
  </form>
</div>
