<div class="container mt-5">
  <h2>{{ user ? 'Alterar' : 'Nuevo' }} usuario</h2>
  <hr />

  <form [formGroup]="userForms">
    <div class="row g-3">
      <div class="col-md-8">
        <label for="name" class="form-label">Nombre</label>
        <input
          id="name"
          type="text"
          class="form-control"
          [class.is-invalid]="userForms.get('nome')?.errors && userForms.get('nome')?.touched"
          placeholder="Introduzca el nombre del usuario"
          formControlName="nome"
        />
        @if (userForms.get('nome')?.hasError('required')) {
          <div class="invalid-feedback">El nombre es obligatorio.</div>
        }
        @if (userForms.get('nome')?.hasError('maxlength')) {
          <div class="invalid-feedback">El nombre debe tener al máximo 250 caracteres.</div>
        }
      </div>

      <div class="col-md-4">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          id="email"
          type="email"
          class="form-control"
          [class.is-invalid]="userForms.get('email')?.errors && userForms.get('email')?.touched"
          placeholder="Introduzca el correo electrónico del usuario"
          formControlName="email"
        />
        @if (userForms.get('email')?.hasError('required')) {
          <div class="invalid-feedback">El correo electrónico es obligatorio.</div>
        }
        @if (userForms.get('email')?.hasError('maxlength')) {
          <div class="invalid-feedback">El correo electrónico debe tener al máximo 250 caracteres.</div>
        }
        @if (userForms.get('email')?.hasError('email')) {
          <div class="invalid-feedback">El correo electrónico no es valido.</div>
        }
      </div>

      <div class="col-md-8">
        <label for="password" class="form-label">Contraseña predeterminada</label>
        <input
          id="password"
          type="password"
          class="form-control"
          [class.is-invalid]="userForms.get('password')?.errors && userForms.get('password')?.touched"
          placeholder="Introduzca la contraseña del usuario"
          formControlName="password"
        />
        @if (userForms.get('password')?.hasError('required')) {
          <div class="invalid-feedback">La contraseña es obligatoria.</div>
        }
        @if (userForms.get('password')?.hasError('minlength')) {
          <div class="invalid-feedback">La contraseña debe tener por lo menos 8 caracteres.</div>
        }
        @if (userForms.get('password')?.hasError('maxlength')) {
          <div class="invalid-feedback">La contraseña debe tener al máximo 100 caracteres.</div>
        }
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-end">
        <div class="form-check">
          <input
            id="isAdmin"
            class="form-check-input"
            type="checkbox"
            formControlName="isAdmin"
          />
          <label for="isAdmin" class="form-check-label">
            Administrador
          </label>
        </div>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-end">
        <div class="form-check">
          <input
            id="isActive"
            class="form-check-input"
            type="checkbox"
            formControlName="ativo"
          />
          <label for="isActive" class="form-check-label">
            Ativo
          </label>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <button
          [disabled]="!userForms.valid"
          class="btn btn-success"
          (click)=" user ? changeUser() : includeUser() "
        >
          {{ user ? 'Alterar' : 'Incluir' }}
        </button>
      </div>
    </div>
  </form>
</div>
